/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Jan-2014, 16:44:32
    Author     : Hai
*/
/*GLOBAL*/
h1{
  font-family: fantasy; 
}
body{
    background-image: url("fabric_of_squares_gray_@2X.png");
}
/*POSITIONING*/
h1{
    text-align: center;
}
#map-canvas{
    display: block;
    width: 50%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: cursive;
}
select{
    width: 15%;
}

#from,
#to{
    width: 20%;
}

button
{
    width: 20%;
    margin-left: 40%;
}

#clear{
    width: 10%;
    margin-left: 45%;
}

